.hundred{
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
}

.hundred h1 {
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    height: 20vh;
    width: 75vw;
   
}

.list{
    flex-direction: column;
    width: 75vw;
}


ul{
    max-width: 100vw;
    background-color: white;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
}

