<div class="hundred">
  <h1>
    Recent Encounters
      <span>Report any Alien Encounters</span>
  </h1>
  <h1 *ngIf="!encounters || encounters.length < 1" >Loading...</h1>
    <div class="list">
    <ul>
      <li *ngFor="let encounter of encounters" >
        <div>
          {{ encounter.date }} -
          <span>{{ encounter.atype }}</span>
        </div>
        <p>{{ encounter.action }}</p>
      </li>
    </ul>
     </div>
    <div class="footer">
      <a [routerLink]="['/reports']"><div class="button">Report</div></a>
    </div>
</div>
